@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap);
@import url(root.css);
h1,
h2,
h3,
h4,
h5,
h6,
html h1 {
    font-family: poppins, sans-serif
}

.btn-primary,
a,
li,
p,
td {
    font-family: Montserrat, sans-serif;
    font-size: 18px
}

.accordion-button h6 {
    font-size: 18px
}

section {
    padding: 3rem 0rem;
}

.error {
    color:var(--red-clr);
}
.bg-dark,
.banner,
.bg-light {
    background: linear-gradient(to left, #004e92, #000428)!important;
    color:#fff;
}

.theme-title {
    text-align: center;
    padding: 0 1rem 1rem 1rem
}

.theme-title h3 {
    font-size: 40px;
    font-weight: 400
}

.text-primary {
    color: var(--primary-clr) !important
}

.theme-title h3 {
    position: relative
}

.theme-title h3::before {
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 5%;
    border-bottom: 5px solid var(--primary-clr)!important;
    content: '';
    right: 0;
    margin: auto
}

.btn-primary {
    background:var(--primary-btn-clr)!important;
    border: 1px solid var(--primary-btn-clr) !important;
    font-weight: 700;
    font-size: 18px;
    padding: .5rem 1rem !important
}

.banner p:nth-of-type(1) {
    font-size: 24px
}

.theme-title p {
    font-size: 20px
}
.navbar-brand{
    width: 200px;
}
.mainHeading {
    font-size: 44px;
    font-weight: 600
}

.banner p {
    font-size: 18px;
    font-weight: 600
}

.vdcLogo {
    background: #000;
    transform: rotate(-45deg);
    position: absolute;
    left: -35%;
    z-index: 1;
    height: 6rem
}

.vdcLogo img {
    position: relative;
    top: 65%;
    width: 31%;
    left: 63%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%)
}

.banner .btn:nth-of-type(2) {
    margin-left: .75rem
}

.keyfeaturesTable td {
    width: 33%
}

.card.featuresCard {
    height: calc(100%);
    position: relative;
    overflow: hidden;
    background: url(https://vcdev.videocrypt.com/assets/img/lp-images/card-2bg.png);
    background-size: 100% 100%;
    background-position: top 0 center;
    background-repeat: no-repeat
}

.card.featuresCard::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #aec5f336
}

.featuresCard .card-title {
    font-weight: 700;
    padding: .5rem;
    visibility: hidden;
    margin-bottom: 0
}

.featuresCard li {
    position: relative;
    list-style: none;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    border-bottom: 1px solid #dfcece;
    line-height: 1.2;
    width: 100%;
    padding: .5rem
}

.activeFeaturesCard {
    background-image: url(https://vcdev.videocrypt.com/assets/img/lp-images/card-1bg.png) !important
}

.table>:not(caption)>*>* {
    background: unset
}

.theme-ul {
    margin: 1rem 0
}

button.btn-close {
    position: absolute;
    right: 2%;
    top: 2%
}

.theme-list {
    list-style-type: unset;
    position: relative;
    margin-bottom: 1rem;
    padding-left: 2rem;
    font-weight: 500;
    font-size: 18px
}
.theme-list span {
    display: block;
    position: relative;
    padding-left: 1.5rem;
}
.theme-list span::before {
    content: '-';
    position: absolute;
    left: 0.5rem;
}
.ul-5-girid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.theme-list::before {
    content: '';
    position: absolute;
    left: 0;
    top: 8%;
    width: 18px;
    height: 18px;
    background-image: url(https://vcdev.videocrypt.com/assets/img/lp-images/check.svg);
    background-size: 100% 100%
}

.keyfeatures {
    margin-top: 3rem;
    border-radius: .5rem;
    background: #f8f9fa
}

.company-features img,
.company-features svg {
    display: block;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}

.features h4 {
    height: 2rem
}

.company-features~h4,
.company-features~h6 {
    padding: 0 1rem
}

.company-features {
    text-align: center
}

.keyfeatures {
    display: flex;
    width: 100%;
    border: 2px solid #ffad00
}

.keyfeaturesTable th {
    font-size: 1.5rem
}

.keyfeaturesTable thead tr {
    background: #dae4ed !important
}

.keyfeaturesTable tr {
    border-color: #bdbdbd
}

.keyfeaturesTable tr:nth-child(even) {
    background: #f1eae2
}

table.table.keyfeaturesTable {
    border: 1px solid #bdbdbd
}

.innerWrapper {
    width: 33%;
    padding: 1rem 0
}

.features {
    padding: 1rem;
    text-align: center
}

.features h6 {
    line-height: 1.5
}

.features h6 {
    margin: 1rem 0
}

.subheading {
    font-weight: 600;
    font-size: 36px
}

.subheading~li,
.subheading~p {
    font-weight: 500;
    font-size: 18px
}

.accordion-button:focus {
    box-shadow: unset
}

.border-primary {
    border: 2px solid var(--primary-btn-clr) !important
}

button.accordion-button.collapsed {
    background: #f5f5f5
}

.accordion-button:not(.collapsed) {
    background: #ebeaea
}

.accordion-button:not(.collapsed) h6 {
    color: var(--primary-btn-clr);
}

.featuresCard li:last-child {
    border-bottom: 0
}

.inputContainer {
    position: relative
}

.inputContainer .error {
    position: absolute;
    bottom: -60%;
    font-size: 14px
}

.inputContainer textarea~.error {
    bottom: -18% !important
}

ul.compList .theme-list::marker {
    font-size: 30px;
    color: var(--primary-clr)
}

.compList .theme-list {
    padding-left: 1.5rem
}

.compList .theme-list::before {
    background-image: url('../images/bullets.webp');
    width: 12px;
    height: 12px;
    top: 12%
}

.activeFeaturesCard .vdcLogo img {
    width: 42%;
    left: 63%
}

textarea.form-control {
    min-height: calc(1.5em + .75rem + calc(var(--bs-border-width) * 2));
    height: 130px;
    resize: none;
    margin-bottom: 2rem
}

.keyFeatures {
    position: relative
}

.CtaCdcLP {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0
}

.skitcy-top {
    position: fixed;
    width: 100%;
    z-index: 999;
    background:#fff!important;
}

#btnBkTop {
    box-shadow: none;
    position: fixed;
    bottom: 12%;
    right: 2%;
    z-index: 999;
    display: none;
    width: 60px;
    border: none
}

section.fixed-bar {
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 999;
    padding: 0
}

.fixed-bar-content {
    display: none;
    width: 100%;
    text-align: center;
    padding: .5rem 0;
    font-size: 18px;
    display: none;
    position: sticky;
    bottom: 0;
    text-align: center
}

.flipCard{
    width: 100%;
    height: 300px;
    background: transparent;
    perspective: 1000px;
    margin-top:1.5rem;
}
.flipCard .card-content{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
    box-shadow: 0 0 5px 5px #ddd4d459;
}
.flipCard:hover .card-content{
    transform: rotateY(180deg);
}
.flipCardFront, .flipCardBack{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 5px;
    -webkit-backface-visibility: hidden;
    backface-visibility:hidden;
}
.flipCardFront .innerContentWrapper, .flipCardBack .innerContentWrapper{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.flipCardFront {
    background-color: #ebebeb;
    color: black;
}
.flipCardFront img{
    width: 150px;
}
.flipCardFront h4 {
    margin-top: 1.75rem;
    font-size: 20px;
    font-weight: 600;
}
.flipCardBack {
    background-color: #002557;
    color: white;
    transform: rotateY(180deg);
}
.appsquadz-item-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.75rem;
    place-content: center;
    place-items: center;
    height: 100%;
}
.appsquadz-item-icon {
    width: 50px;
}
.appsquadz-item-card {
    box-shadow: 0 0 2px 4px #ffffff36;
    padding: 1rem;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.gadget-title {
    font-size: 1rem;
    color: #000;
    text-align: center;
}
.form {
    width: 70%;
    margin: auto;
    background: #ebebeb;
    padding: 1rem 0rem;
    border-radius: 10px;
}
.form input,.form textarea{
    background: #ededed;
}
.form input:focus, .form textarea:focus{
    background: #ededed;
    box-shadow: none;
    border: 1px solid #ededed;
}
@media screen and (orientation:portrait) and (min-width:360px) and (max-width:767px) {
    section {
        padding: 1.5rem .5rem
    }

    .mainHeading {
        font-size: 30px
    }
    .appsquadz-item-container{
        grid-template-columns:repeat(2, 1fr);
    }
    .ul-5-girid {
        grid-template-columns:repeat(1, 1fr);
    }
    .btn-primary {
        font-size: 18px;
        padding: .3rem .5rem
    }

    .theme-title h3 {
        font-size: 25px
    }

    .subheading {
        font-size: 25px
    }

    .theme-list::before {
        top: 5%
    }

    .card-mob-margin {
        margin-top: 1rem
    }

    .theme-title {
        padding: 1rem
    }

    .col-mob-reverse {
        flex-direction: column-reverse
    }

    .col-mob-reverse img {
        margin-bottom: 1rem
    }

    .vdcLogo {
        left: -30%
    }

    #navbarSupportedContent .nav-item {
        margin-left: 0 !important
    }

    #navbarSupportedContent .nav-item .nav-link {
        margin-top: .5rem
    }

    .CtaCdcLP {
        position: unset;
        margin-top: 1rem
    }

    .navbar-toggler {
        background: #fff;
        display: none
    }
    .theme-title p {
        font-size: 17px;
    }
    .fixed-bar-content {
        display: block
    }
    .accordion-button h6 {
        font-size: 18px;
    }
    .btn-primary, a, li, p, td {
        font-size: 16px;
    }
}

@media screen and (orientation:landscape) and (min-width:360px) and (max-width:767px) {

    .activeFeaturesCard,
    .banner .btn {
        margin-bottom: 1rem
    }

    .vdcLogo {
        left: -20%
    }

    .featuresCard {
        height: unset !important
    }

    .featuresCard .vdcLogo img {
        left: 60%
    }

    .activeFeaturesCard .vdcLogo img {
        left: 60%
    }

    .theme-title h3 {
        font-size: 30px
    }

    section {
        padding: 2rem
    }

    .col-mob-reverse {
        flex-direction: column-reverse
    }

    .col-mob-reverse img {
        margin-bottom: 1rem
    }
}

@media screen and (orientation:portrait) and (min-width:414px) and (max-width:767px) {
    .vdcLogo {
        left: -25%
    }

    .vdcLogo img {
        left: 58%
    }

    .theme-title h3 {
        font-size: 30px
    }
}

@media screen and (orientation:portrait) and (min-width:768px) and (max-width:1023px) {
    .card-tab-margin {
        margin-top: 1rem
    }

    .md-img-ca {
        display: block;
        margin: auto;
        margin-bottom: 1rem
    }

    .col-mob-reverse {
        flex-direction: column-reverse
    }

    .featuresCard .vdcLogo img {
        width: 35%;
        left: 60%
    }
}

@media screen and (min-width:1024px) and (max-width:1180px) {
    .vdcLogo {
        left: -60%
    }

    .activeFeaturesCard .vdcLogo img {
        width: 32%;
        left: 69%
    }

    .featuresCard li {
        font-size: 10px
    }

    section {
        padding: 3rem
    }
}

@media screen and (min-width:1200px) and (max-width:1259px) {
    .vdcLogo {
        left: -54%
    }
    section{
        padding: 2rem;
    }
    .vdcLogo img {
        width: 32% !important;
        top: 70%;
        left: 68%
    }

    .activeFeaturesCard .vdcLogo img {
        width: 35% !important;
        left: 68%
    }

    .featuresCard li {
        font-size: 13px
    }

    textarea.form-control {
        height: 70px
    }
}

@media screen and (min-width:1260px) and (max-width:1299px) {
    .vdcLogo {
        left: -48%
    }

    .featuresCard li {
        font-size: 13px;
        padding: .5rem 0
    }

    .vdcLogo img {
        top: 73%;
        width: 35%;
        left: 66%
    }

    .activeFeaturesCard .vdcLogo img {
        left: 66%
    }

    textarea.form-control {
        height: 70px
    }
}

@media screen and (min-width:1300px) and (max-width:1399px) {
    .vdcLogo {
        left: -48%
    }

    .vdcLogo img {
        width: 32% !important;
        top: 70%;
        left: 68%
    }

    .activeFeaturesCard .vdcLogo img {
        width: 33% !important
    }

    .featuresCard li {
        font-size: 13px
    }

    textarea.form-control {
        height: 70px
    }
}
