@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap);
@import url(root.css);
h1,
h2,
h3,
h4,
h5,
h6,
html h1 {
    font-family: poppins, sans-serif
}

.btn-primary,
a,
li,
p,
td {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    margin-bottom: 0;
}

.accordion-button h6 {
    font-size: 18px
}

section {
    padding: 0px;
    margin: 40px 0px;
}

.error {
    color:var(--red-clr);
}
.navbar,.banner{
    margin:0px;
}

.bg-light,
.bg-dark,
.banner{
    padding:40px 0;
}
.bg-dark,
.banner{
    background: linear-gradient(to left, #004e92, #000428)!important;
    color:#fff;
}
.navbar {
    padding: 0.5rem;
}
.theme-title {
    text-align: center;
    padding: 0 1rem 1rem 1rem
}

.theme-title h3 {
    font-size: 40px;
    font-weight: 400
}

.text-primary {
    color: var(--primary-clr) !important
}

.theme-title h3 {
    position: relative
}

.theme-title h3::before {
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 5%;
    border-bottom: 5px solid var(--primary-clr)!important;
    content: '';
    right: 0;
    margin: auto
}

.btn-primary {
    background:var(--primary-btn-clr)!important;
    border: 1px solid var(--primary-btn-clr) !important;
    font-weight: 700;
    font-size: 18px;
    padding: .5rem 1rem !important
}

.theme-title p {
    font-size: 20px
}
.navbar-brand{
    width: 200px;
}
.mainHeading {
    font-size: 44px;
    font-weight: 600
}

.banner p {
    font-size: 18px;
    font-weight: 600
}

.theme-ul {
    margin: 1rem 0
}
.theme-list {
    list-style-type: unset;
    position: relative;
    margin-bottom: 1rem;
    padding-left: 2rem;
    font-weight: 500;
    font-size: 20px;
}
.ul-5-girid .theme-list {
    list-style-type: unset;
    position: relative;
    font-weight: 600;
    font-size: 17px;
    background: white;
    color: #003c78;
    padding: .75rem;
    box-shadow: 0 0 10px 3px #0000000f;
    border-radius: 8px;
    overflow: hidden;
}
.theme-list span {
    display: block;
    position: relative;
    padding-left: 1.5rem;
    font-size: 17px;
    font-weight: 400;
}
.ul-5-girid  .theme-list span {
    display: block;
    position: relative;
    padding-left: 1.5rem;
    font-size: 15px;
    font-weight: 400;
}
.theme-list span::before {
    content: '';
    position: absolute;
    left: 0.5rem;
    top: 0.35rem;
    width: 12px;
    height: 12px;
    background: #ffffff;
    border-radius: 50%;
}
.appsquadz-item-card:last-child {
    border-right: 0;
}
.marin-leftBtn{
    margin-left: 2rem;
}
.ul-5-girid  .theme-list span::before {
    width: 10px;
    height: 10px;
    background: #003973;
}
.ul-5-girid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    position: relative;
}
.ul-5-girid::after {
    position: absolute;
    border-left: 1px solid #00498c;
    top: 5px;
    width: 100%;
    height: 83%;
}
.img-sticky{
    position: sticky;
    top:0;
}
.theme-list::before {
    position: absolute;
    left: 0;
    top: 4%;
    transform: translateX(-50%);
    width: 18px;
    height: 18px;
    background: #00498c;
    border-radius: 50%;
}

.subheading {
    font-weight: 600;
    font-size: 36px
}
.stepBtn{
    margin-left:2rem;
}
button.accordion-button.collapsed {
    background: #f5f5f5
}


.inputContainer {
    position: relative
}

.inputContainer .error {
    position: absolute;
    bottom: -60%;
    font-size: 14px
}

.inputContainer textarea~.error {
    bottom: -18% !important
}

ul.compList .theme-list::marker {
    font-size: 30px;
    color: var(--primary-clr)
}

.compList .theme-list {
    padding-left: 1.5rem
}

.compList .theme-list::before {
    background-image: url('../images/bullets.webp');
    width: 12px;
    height: 12px;
    top: 12%
}

textarea.form-control {
    min-height: calc(1.5em + .75rem + calc(var(--bs-border-width) * 2));
    height: 130px;
    resize: none;
    margin-bottom: 2rem
}

.skitcy-top {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #fff!important;
    box-shadow: 0 0 10px 5px #00000014;
}
.innerContentWrapper h4 {
    color: #004a8d;
    font-size: 18px;
}

.innerContentWrapper p {
    color: #004a8d;
    font-size: 16px;
}
#btnBkTop {
    box-shadow: none;
    position: fixed;
    bottom: 12%;
    right: 2%;
    z-index: 999;
    display: none;
    width: 60px;
    border: none
}

section.fixed-bar {
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 999;
    padding: 0
}

.fixed-bar-content {
    display: none;
    width: 100%;
    text-align: center;
    padding: .5rem 0;
    font-size: 18px;
    display: none;
    position: sticky;
    bottom: 0;
    text-align: center
}
.flipCard .card-content{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.9s;
}

.flipCardFront img{
    width: 150px;
}
.flipCardFront h4 {
    margin-top: 1.75rem;
    font-size: 20px;
    font-weight: 600;
}
.flipCardBack {
    /* background-color: #7c7e83; */
    color: white;
    width: 100%;
    height: 100%;
    padding: 0.75rem;
}
.appsquadz-item-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-content: center;
    place-items: center;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 4px 5px #00000005;
}
.appsquadz-item-card {
    width: 100%;
    height: 100%;
    color: #000;
    border-right: 1px solid #ccc;
    padding: 1rem;
}
.gadget-title {
    font-size: 28px;
    text-align: center;
}
.appsquadz-item-card img {
    width: 90px;
    display: block;
    margin: auto;
}
.form {
    width: 70%;
    margin: auto;
    background: #ebebeb;
    padding: 1rem 0rem;
    border-radius: 10px;
}
.form input,.form textarea{
    background: #ededed;
}
.form input:focus, .form textarea:focus{
    background: #ededed;
    box-shadow: none;
    border: 1px solid #ededed;
}
.flipCard {
    height: calc(100%);
    position: relative;
    margin: 0.75rem 0;
    border-radius: .5rem;
}
.app-development-wrapper{
    width: 400px;
    height: auto;
    margin: 1rem  auto;
    display: block;
}
.awardbadges {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1rem;
    width: max-content;
    margin: 0 auto;
}
.aws_images img {
    box-shadow: 0 0 5px 5px #00000012;
    border-radius: 5px;
}

.innerImageGrid {
    background: #fff;
    width: max-content;
    padding: 2rem;
    margin: auto;
    box-shadow: 0 0 5px 5px #0000001a;
    border-radius: 10px;
}
.wrapper-7-girid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.customerCards {
    text-align: center;
}
.customerCards img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}
@media screen and (orientation:portrait) and (min-width:360px) and (max-width:767px) {
    section {
        padding: 1.5rem .5rem
    }

    .mainHeading {
        font-size: 30px
    }
    .appsquadz-item-container{
        grid-template-columns:repeat(2, 1fr);
    }
    .ul-5-girid {
        grid-template-columns:repeat(1, 1fr);
    }
    .btn-primary {
        font-size: 18px;
        padding: .3rem .5rem
    }

    .theme-title h3 {
        font-size: 25px
    }

    .subheading {
        font-size: 25px
    }

    .theme-list::before {
        top: 5%
    }

    .card-mob-margin {
        margin-top: 1rem
    }

    .theme-title {
        padding: 1rem
    }

    .col-mob-reverse {
        flex-direction: column-reverse
    }

    .col-mob-reverse img {
        margin-bottom: 1rem
    }

    .vdcLogo {
        left: -30%
    }

    #navbarSupportedContent .nav-item {
        margin-left: 0 !important
    }

    #navbarSupportedContent .nav-item .nav-link {
        margin-top: .5rem
    }

    .CtaCdcLP {
        position: unset;
        margin-top: 1rem
    }

    .navbar-toggler {
        background: #fff;
        display: none
    }
    .theme-title p {
        font-size: 17px;
    }
    .fixed-bar-content {
        display: block
    }
    .accordion-button h6 {
        font-size: 18px;
    }
    .btn-primary, a, li, p, td {
        font-size: 16px;
    }
}

@media screen and (orientation:landscape) and (min-width:360px) and (max-width:767px) {

    .activeFeaturesCard,
    .banner .btn {
        margin-bottom: 1rem
    }

    .vdcLogo {
        left: -20%
    }

    .featuresCard {
        height: unset !important
    }

    .featuresCard .vdcLogo img {
        left: 60%
    }

    .activeFeaturesCard .vdcLogo img {
        left: 60%
    }

    .theme-title h3 {
        font-size: 30px
    }

    section {
        padding: 2rem
    }

    .col-mob-reverse {
        flex-direction: column-reverse
    }

    .col-mob-reverse img {
        margin-bottom: 1rem
    }
}

@media screen and (orientation:portrait) and (min-width:414px) and (max-width:767px) {
    .vdcLogo {
        left: -25%
    }

    .vdcLogo img {
        left: 58%
    }

    .theme-title h3 {
        font-size: 30px
    }
}

@media screen and (orientation:portrait) and (min-width:768px) and (max-width:1023px) {
    .card-tab-margin {
        margin-top: 1rem
    }

    .md-img-ca {
        display: block;
        margin: auto;
        margin-bottom: 1rem
    }

    .col-mob-reverse {
        flex-direction: column-reverse
    }

    .featuresCard .vdcLogo img {
        width: 35%;
        left: 60%
    }
}

@media screen and (min-width:1024px) and (max-width:1180px) {
    .vdcLogo {
        left: -60%
    }

    .activeFeaturesCard .vdcLogo img {
        width: 32%;
        left: 69%
    }

    .featuresCard li {
        font-size: 10px
    }

    section {
        padding: 3rem
    }
}

@media screen and (min-width:1200px) and (max-width:1259px) {
    .vdcLogo {
        left: -54%
    }
    section{
        padding: 2rem;
    }
    .vdcLogo img {
        width: 32% !important;
        top: 70%;
        left: 68%
    }

    .activeFeaturesCard .vdcLogo img {
        width: 35% !important;
        left: 68%
    }

    .featuresCard li {
        font-size: 13px
    }

    textarea.form-control {
        height: 70px
    }
}

@media screen and (min-width:1260px) and (max-width:1299px) {
    .vdcLogo {
        left: -48%
    }

    .featuresCard li {
        font-size: 13px;
        padding: .5rem 0
    }

    .vdcLogo img {
        top: 73%;
        width: 35%;
        left: 66%
    }

    .activeFeaturesCard .vdcLogo img {
        left: 66%
    }

    textarea.form-control {
        height: 70px
    }
}

@media screen and (min-width:1300px) and (max-width:1399px) {
    .vdcLogo {
        left: -48%
    }

    .vdcLogo img {
        width: 32% !important;
        top: 70%;
        left: 68%
    }

    .activeFeaturesCard .vdcLogo img {
        width: 33% !important
    }

    .featuresCard li {
        font-size: 13px
    }

    textarea.form-control {
        height: 70px
    }
}
