@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap);
@import url(root.css);
h1,
h2,
h3,
h4,
h5,
h6,
html h1 {
    font-family: poppins, sans-serif;
}

.btn-primary,
a,
li,
p,
td {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    margin-bottom: 0;
}

.accordion-button h6 {
    font-size: 18px
}

section {
    padding: 0px;
    margin: 40px 0px;
}

.error {
    color:var(--red-clr);
}
.navbar,.banner,.fixed-bar{
    margin:0px;
}

.bg-light,
.bg-dark,
.banner{
    padding:40px 0;
}
.aws_images.bg-light {
    padding: 0;
}
.bg-dark,
.banner{
    background: linear-gradient(to left, #004e92, #000428)!important;
    color:#fff;
}
.navbar {
    padding: 0.5rem;
}
.theme-title {
    text-align: center;
    padding: 0 1rem 1rem 1rem
}

.theme-title h3 {
    font-size: 40px;
    font-weight: 400;
    margin:0 0 2rem;
}

.text-primary {
    color: var(--primary-clr) !important
}
#bannerBtn{
    margin:1rem 0 0;
}
.theme-title h3 {
    position: relative
}

.theme-title h3::before {
    position: absolute;
    bottom: -10%;
    left: 0;
    width: 5%;
    border-bottom: 5px solid var(--primary-clr)!important;
    content: '';
    right: 0;
    margin: auto
}

.btn-primary {
    background:var(--primary-btn-clr)!important;
    border: 1px solid var(--primary-btn-clr) !important;
    font-weight: 700;
    font-size: 18px;
    padding: .5rem 1rem !important
}

.theme-title p {
    font-size: 20px
}
.navbar-brand{
    width: 200px;
}
.mainHeading {
    font-size: 44px;
    font-weight: 600
}

.banner p {
    font-size: 18px;
    font-weight: 600
}

.theme-ul {
    margin: 1rem 0
}
.theme-list {
    list-style-type: unset;
    position: relative;
    margin-bottom: 1rem;
    padding-left: 2rem;
    font-weight: 500;
    font-size: 20px;
}
.ul-5-girid .theme-list {
    list-style-type: unset;
    position: relative;
    font-weight: 600;
    font-size: 17px;
    background: white;
    color: #003c78;
    padding: .75rem;
    box-shadow: 0 0 10px 3px #0000000f;
    border-radius: 8px;
    overflow: hidden;
}
.theme-list span {
    display: block;
    position: relative;
    padding-left: 1.5rem;
    font-size: 17px;
    font-weight: 400;
}
.ul-5-girid  .theme-list span {
    display: block;
    position: relative;
    padding-left: 1.5rem;
    font-size: 15px;
    font-weight: 400;
}
.theme-list span::before {
    content: '';
    position: absolute;
    left: 0.5rem;
    top: 0.35rem;
    width: 12px;
    height: 12px;
    background: #003c78;
    border-radius: 50%;
}
.appsquadz-item-card:last-child {
    border-right: 0;
}
.marin-leftBtn{
    margin-left: 2rem;
}
.ul-5-girid  .theme-list span::before {
    width: 10px;
    height: 10px;
    background: #003973;
}
.ul-5-girid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    position: relative;
}
.ul-5-girid::after {
    position: absolute;
    border-left: 1px solid #00498c;
    top: 5px;
    width: 100%;
    height: 83%;
}
.img-sticky{
    position: sticky;
    top:0;
}
.theme-list::before {
    position: absolute;
    left: 0;
    top: 4%;
    transform: translateX(-50%);
    width: 18px;
    height: 18px;
    background: #00498c;
    border-radius: 50%;
}

.subheading {
    font-weight: 600;
    font-size: 36px
}
.stepBtn{
    margin-left:2rem;
}
button.accordion-button.collapsed {
    background: #f5f5f5
}


.inputContainer {
    position: relative
}

.inputContainer .error {
    position: absolute;
    bottom: -60%;
    font-size: 14px
}

.inputContainer textarea~.error {
    bottom: -18% !important
}

ul.compList .theme-list::marker {
    font-size: 30px;
    color: var(--primary-clr)
}

.compList .theme-list {
    padding-left: 1.5rem
}

.compList .theme-list::before {
    background-image: url('../images/bullets.webp');
    width: 12px;
    height: 12px;
    top: 12%
}

textarea.form-control {
    min-height: calc(1.5em + .75rem + calc(var(--bs-border-width) * 2));
    height: 130px;
    resize: none;
    margin-bottom: 2rem
}

.skitcy-top {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: #fff!important;
    box-shadow: 0 0 10px 5px #00000014;
}
.innerContentWrapper h4 {
    color: #004a8d;
    font-size: 18px;
}

.innerContentWrapper p {
    color: #004a8d;
    font-size: 16px;
}
#btnBkTop {
    box-shadow: none;
    position: fixed;
    bottom: 12%;
    right: 2%;
    z-index: 999;
    display: none;
    width: 60px;
    border: none
}

section.fixed-bar {
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 999;
    padding: 0
}

.fixed-bar-content {
    display: none;
    width: 100%;
    text-align: center;
    padding: .5rem 0;
    font-size: 18px;
    display: none;
    position: sticky;
    bottom: 0;
    text-align: center
}
.flipCard .card-content{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.9s;
}

.flipCardFront img{
    width: 150px;
}
.flipCardFront h4 {
    margin-top: 1.75rem;
    font-size: 20px;
    font-weight: 600;
}
.flipCardBack {
    color: white;
    width: 100%;
    height: 100%;
    padding: 0.75rem;
}
.appsquadz-item-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap:1rem;
    place-content: center;
    place-items: center;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 4px 5px #00000005;
}
.appsquadz-item-card {
    width: 100%;
    height: 100%;
    color: #000;
    border-right: 1px solid #ccc;
    padding: 1rem;
}
.gadget-title {
    font-size: 28px;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.appsquadz-item-card img {
    width: 90px;
    display: block;
    margin: auto;
}
.form {
    width: 70%;
    margin: auto;
    background: #ebebeb;
    padding: 1rem 0rem;
    border-radius: 10px;
}
.form input,.form textarea{
    background: #ededed;
}
.form input:focus, .form textarea:focus{
    background: #ededed;
    box-shadow: none;
    border: 1px solid #ededed;
}
.flipCard {
    height: calc(100%);
    position: relative;
    margin: 0.75rem 0;
    border-radius: .5rem;
}
.app-development-wrapper{
    width: 580px;
    height: auto;
    margin: 1rem  auto;
    display: block;
}
.awardbadges {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    width: max-content;
    margin: 0 auto;
}
.aws_images img {
    box-shadow: 0 0 5px 5px #00000012;
    border-radius: 5px;
}

.innerImageGrid {
    background: #fff;
    width: max-content;
    padding: 2rem;
    margin: auto;
    box-shadow: 0 0 5px 5px #0000001a;
    border-radius: 10px;
}
.wrapper-7-girid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap:1rem;
}
.customerCards {
    text-align: center;
}
.customerCards h4{
    font-family: "Roboto", sans-serif;
}
.customerCards img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
}
.footer{
    margin:0;
}
.fixed-bar-content {
    display: none;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    font-size: 18px;
    display: none;
    position: sticky;
    bottom: 0;
    text-align: center;
}
.text-primary{
    color:#004e92!important;
}

@media screen and (orientation:portrait) and (min-width:360px) and (max-width:767px){
    .mainHeading{
        font-size: 30px;
    }
    .theme-title h3 {
        font-size: 30px;
        margin: 0 0 1rem;
    }
    .appsquadz-item-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.75rem;
        padding: 1rem;
    }
    .awardbadges{
        grid-template-columns:repeat(2, 1fr);
        row-gap:1rem;
    }
    .ul-5-girid{
        grid-template-columns:repeat(1, 1fr);
    }
    .wrapper-7-girid{
        grid-template-columns:repeat(3, 1fr);
        row-gap:1.5rem;
    }
    .innerImageGrid{
        padding:1.5rem;
    }
    .gadget-title {
        font-size: 16px;
    }
    .customerCards {
        margin-bottom: 1.5rem;
    }
    .footer{
        margin: 0;
    }
    .app-development-wrapper{
        width:340px;
        margin:0rem  auto 1rem;
    }
    .appsquadz-item-card{
        border-right:0;
        padding:.75rem;
        box-shadow:0 0 4px 1px #00000012;
    }
    .form{
        width:100%;
        margin:1.75rem 0;
    }
    .inputContainer,#submit {
        width: 80%;
        margin: auto;
        display: block;
    }
    .theme-list span::before{
        width:8px;
        height:8px;
        top:0.5rem;
    }
    .navbar-toggler{
        display:none;
    }
    .fixed-bar-content {
        display: block;
    }
    p{
        font-size: 16px;
    }
}
@media screen and (orientation:landscape) and (min-width:360px) and (max-width:767px){
    .mainHeading{
        font-size: 30px;
    }
    .theme-title h3 {
        font-size: 30px;
        margin: 0 0 1rem;
    }
    .appsquadz-item-container{
        grid-template-columns:repeat(3, 1fr);
    }
    .awardbadges{
        grid-template-columns:repeat(3, 1fr);
        gap:1.5rem;
    }
    .ul-5-girid{
        grid-template-columns:repeat(2, 1fr);
    }
    .wrapper-7-girid{
        grid-template-columns:repeat(4, 1fr);
        row-gap:1.5rem;
    }
    .innerImageGrid{
        padding:1.5rem;
    }
    .gadget-title {
        font-size: 16px;
    }
    .customerCards {
        margin-bottom: 1.5rem;
    }
    .footer{
        margin: 0;
    }
    .app-development-wrapper{
        width:340px;
        margin:0rem  auto 1rem;
    }
    .appsquadz-item-card{
        border-right:0;
        padding:.75rem;
        box-shadow:0 0 4px 1px #00000012;
    }
    .form{
        width:100%;
        margin:1.75rem 0;
    }
    .inputContainer,#submit {
        width: 80%;
        margin: auto;
        display: block;
    }
    .theme-list span::before{
        width:8px;
        height:8px;
        top:0.5rem;
    }
    .navbar-toggler{
        display:none;
    }
    .fixed-bar-content {
        display: block;
    }
    p{
        font-size: 16px;
    }
    #btnBkTop{
        z-index:9999;
    }
    .appsquadz-item-container{

    }
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .form{
        width: 100%;
    }
    .form input, .form textarea,#submit{
        width: 80%;
        margin:auto;
        display:block;
    }
    .wrapper-7-girid{
        grid-template-columns:repeat(5, 1fr);
    }
    .appsquadz-item-card{
        display:flex;
        align-items:center;
        justify-content:center;
    }
    .aws_images{
        width: 120px;
    }
    .awardbadges{
        grid-template-columns:repeat(5, 1fr);
    }
    .appsquadz-item-container{
        grid-template-columns:repeat(5, 1fr);
        box-shadow:0 0 4px 5px #00000005;

    }
    .app-development-wrapper{
        position:sticky;
        top: 10%;
        width: 250px;
    }
    .ul-5-girid{
        grid-template-columns:repeat(2, 1fr);
    }
    .ul-5-girid .theme-list{
        margin-bottom:0;
    }
    .ul-5-girid .theme-list span::before{
        width:8px;
        height: 8px;
    }
    .theme-list span::before{
        width:10px;
        height: 10px;
        top:0.5rem;
    }
    .gadget-title{
        font-size: 15px;
    }
    .theme-title h3{
        font-size:35px;
    }
    .navbar-toggler{
        display:none;
    }
}
@media screen and (min-width:1200px) and (max-width:1300px) {
    .app-development-wrapper{
        width:480px;
    }

    .ul-5-girid .theme-list span::before {
        width: 8px;
        height: 8px;
        background: #003973;
        top: 0.4rem;
    }
    .gadget-title{
        font-size:25px;
    }
    .appsquadz-item-card {
        display: flex;
        align-items: center;
    }
    .theme-list span::before{
        width:8px;
        height:8px;
    }
}